<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <h1>안녕 클레오 파트라!</h1>
    <p>세상에서 제일 가는 포테이토칩</p>
    <input type="text" id="inputText">
    <input type="text" id="inputText2">
    <button id="firstButton">버튼</button>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script>
        //요소를 선택하는 선택자
        $("#firstButton").click(function() {
            var userInput = $("#inputText").val();
            var userInput2 = $("#inputText2").val();
            //ajax를 쓰는 라이브러리
            $.ajax({
                url: "userData",
                type: "POST",
                data: {
                    //key-value
                    userData1 : userInput,
                    userData2 : userInput2
                },
                success: function (data) {
                },
            });
        })
    </script>
</body>
</html>